<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My first HTML document</title>
    </head>
    <body>
        <header>
            <img src="/images/logo-mercado-liebre.svg" width="360" alt="Logo de mercado liebre">
            <p>Lugar para poner barra de busqueda</p>    
            <p>Compra en cuotas y sin tarjetas de crédito</p>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Crea tu cuenta</a></li>
                    <li><a href="/login">Ingresa</a></li>
                    <li><a href="#">Mis compras</a></li>
                </ul>
            </nav>
        </header>

        <section>
            <img src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
        </section>
        <main>
            <section>
                <h3>Basdo en tu última visita</h3>
            
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">

                <p>$6.77</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>


                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="Cafetera" class="product_img">

                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>


                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Cafetera" class="product_img">

                <p>$70.500</p>
                <p>10% off</p>
                <h4>Telefono movil Samsung Galaxy S10</h4>


                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="Cafetera" class="product_img">

                <p>$23.200</p>
                <p>5% off</p>
                <h4>Smart Samsung 43"</h4>

            </section>

            <section>
                <h3>Ofertas</h3>
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                <p>$6.70</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>



                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="Cafetera" class="product_img">

                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>

            </section>

            <footer>
                <div>
                    <h3>Paga con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre, tendras cuotas si interes</p>
                </div>
                <div>
                    <h3>Envio gratis desde $2,000</h3>
                    <p>Solo por estar registrado en Mercado Liebre</p>
                </div>
                <div>
                    <h3>Seguridad de principio a fin</h3>
                    <p>¿No te gusta? Devuelvelo En mercado liebre no hay nada que no puedas hacer</p>
                </div>

                <div>
                    <p>Copyright &copy; 1999-2020 Mercado liebre S.R.L. </p>
                </div>



            </footer>


            
        </main>
    

    </body>
</html>